@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Space Grotesk";
}
body {
  height: 100vh;
  font-family: "Space Grotesk";
  color: white;
  font-size: clamp(10px, 3vw, 18px);
}

.top-container {
  background-image: url(./images/bg-main-mobile.png);
  background-size: 100%;
}
.cards {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3.5em;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide{
  display: none;
}
.back-card,
.front-card {
  width: 70%;
  max-width: 447px;
  height: 225px;
}
.back-card {
  background-image: url(./images/bg-card-back.png);
  margin-left: 25%;
  position: relative;
}
.front-card {
  position: absolute;
  margin-top: 22%;
  margin-left: 10%;
  background-image: url(./images/bg-card-front.png);
}
.card-cvv {
  margin-top: 24%;
  margin-left: 79%;
}
.logo {
  margin: 5%;
  width: 40%;
}
.logo-img {
  width: 50%;
  object-fit: cover;
}
#name {
  text-transform: uppercase;
}
.card-number {
  font-size: clamp(10px, 4.5vw, 25px);
  word-spacing: 0.3ch;
  letter-spacing: 0.1ch;
  margin: 10% 5%;
}
.details {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* FORMS CSS */
.text-box {
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: calc(80px + 3vw);
}
.thank-you {
  text-align: center;
}
label {
  font-size: clamp(8px, 3.5vw, 25px);
  font-weight: 500;
}
.c-name,
.c-number,
.small-details {
  padding: 1em 0.5em;
}
input,
input::-webkit-input-placeholder {
  font-size: clamp(10px, 1.1rem, 1.2rem);
}
input {
  cursor: pointer;
  border: 1px solid rgb(179, 169, 169);
  margin-top: 0.5em;
  padding: 1em;
  display: block;
  width: 100%;
  border-radius: 5px;
}
input:focus {
  border: 1px solid purple;
  outline-style: none;
}
.expiry {
  width: 70%;
}
.type,
.small-details {
  display: flex;
}

.month,
.year {
  margin-right: 0.5em;
  width: 40%;
}
/* Button */
.submit-btn{
  width: 90%;
  margin: 0 auto;
  padding-top: 1.5em;
}
.submit,
.thank-you button  {
  padding: 0.5em;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: clamp(10px, 1.3rem, 1.9rem);
}
.thank-you button
{
  margin-top: 1em;
  width: 100%;
}
.thank-you,
.check,
.greet,
.state
{
  padding: 0.5em;
}

@media screen and (min-width: 440px) and (max-width: 600px) {
  .text-box {
    margin-top: 30%;
  }
}
/* 600px */
@media screen and (min-width: 601px) and (max-width: 786px) {
  body {
    font-size: clamp(19px, 2.5vw, 25px);
    height: 900px;
  }
  .card-number {
    margin: 7%;
    font-size: clamp(10px, 4.5vw, 27px);
  }
  .card-cvv {
    margin-top: calc(80px + 3vw);
    margin-left: calc(300px + 3vw);
  }
  .details {
    width: 80%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
  }
  .text-box {
    padding: 3em;
    margin-top: calc(150px + 3vw);
  }
  .thank-you button
{
  margin-top: 1em;
  width: 80%;
}
}
/* 787px */
@media screen and (min-width: 787px) {
  body {
    font-size: clamp(10px, 1vw, 10px);
    height: 900px;
  }
  .card-number {
    font-size: clamp(8px, 1.8vw, 22px);
  }
  .main-container {
    flex-direction: row;
    display: flex;
    outline: 1px solid black;
    height: 900px;
  }
  .top-container {
    background-image: url(./images/bg-main-desktop.png);
    width: 40%;
    max-width: 483px;
    height: 900px;
    background-size: cover;
  }
  .thank-you button
{
  margin-top: 1em;
  width: 80%;
}
  .text-box {
    margin: auto;
    width: 50%;
    color: black;
    padding: 7em;
    margin-top: 7%;
  }
  .cards {
    margin-top: calc(100px + 3vw);
    flex-direction: column-reverse;
  }
  .back-card {
    margin-left: 62%;
    margin-top: 0;
  }
  .front-card {
    position: relative;
    margin-left: 50%;
    margin-top: 0%;
  }
  label {
    font-size: clamp(10px, 0.9vw, 25px);
    font-weight: 500;
  }
  #card-form,
  .thank-you {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }
  input,
  input::-webkit-input-placeholder {
    font-size: clamp(10px, 1.1rem, 1rem);
    font-weight: 500;
  }
  /* Button */
  .submit {
    font-size: clamp(10px, 1rem, 1.3rem);
  }
}
